h1 Add License 

form(method="POST", action="/add-license") 

	p Name
		input(type="text", name="name")
	p Type
		input(type="text", name="type")
	p Due Date
		input(type="text", name="due-date")
	p Company
		input(type="text", name="company")
	p
		input(type="submit")