extends ./layout.pug
block contenido
	div(class="col-md-4 remove-float center-block min-top-space")
		h2(class="text-center") Login
		form(action="/session", method="POST")

			div(class="form-group")
				label(for="email") Email
				input(type="text", id="email", name="email", placeholder="Email", class="form-control", required)

			div(class="form-group")
				label(for="password") Password
				input(type="text", id="password", name="password", placeholder="Password", class="form-control", required)

			div
				a(href="/signup") I don't have an account
				button(class="btn btn-primary pull-right") Login
