extends ./layout.pug
block contenido
	div(class="col-md-4 remove-float center-block min-top-space")
		h2(class="text-center") Sign-up
		form(action="/users", method="POST")
			div(class="form-group")
				label(for="email") Email
				input(type="text" id="email" name="email" placeholder="Email" class="form-control" required)
			each val in ["Password","Password confirmation"]
				div(class="form-group")
					label(for=val)=val
					input(type="Password" id=val name=val.replace(" ","_") placeholder=val  class="form-control" required)
			div
				a(href="/login") I have an account
				button(class="btn btn-primary pull-right") Sign Up
